{{#x-card
  onsubmit=attrs.onsubmit
  title='Login'
  buttonText='LOGIN'
  buttonDisabled=validations.messages.length
}}

<div class="row">
  {{x-input
    classNames='col s12'
    type="email"
    label='Email'
    value=model.email
    errors=validations.attrs.model.email.messages
  }}
</div>

<div class="row">
  {{x-input
    classNames='col s12'
    type="password"
    label='Password'
    value=model.password
    errors=validations.attrs.model.password.messages
  }}
</div>
{{/x-card}}
