{{#x-card
  onsubmit=attrs.onsubmit
  title='Register'
  buttonText='REGISTER'
  buttonDisabled=validations.messages.length
}}

<div class="row">
  {{x-input
    classNames='col s12'
    type="email"
    label='Email'
    value=model.email
    errors=(v-get model 'email' 'messages')
  }}
</div>

<div class="row">
  {{x-input
    classNames='col s12'
    type="password"
    label='Password'
    value=model.password
    errors=(v-get model 'password' 'messages')
  }}
</div>

<div class="row">
  {{x-input
    classNames='col s12'
    type="password"
    label='Confirm Password'
    value=model.passwordConfirmation
    errors=(v-get model 'passwordConfirmation' 'messages')
  }}
</div>
{{/x-card}}
