<div class='container'>
  <div class ="row">
    <div class="col s12 m8 offset-m2">

      {{#x-card
        buttonText='LOGOUT'
        onsubmit=(route-action 'logout')
        title='Account'
      }}

      {{#user-info as |u|}}
        Hi, hope you're goin' well, <b>{{u.email}}</b>
      {{/user-info}}

      {{/x-card}}


    </div>
  </div>
</div>


{{outlet}}
