<div class="container">

  <div class="valign-wrapper" style="height: 480px;">
    <div class="valign" style="text-align: center; width:100%;">

      <div class="progress">
          <div class="indeterminate"></div>
      </div>

      <br />

      <span><strong>STAND BY</strong></span>

    </div>

  </div>

{{outlet}}
</div>
